[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sunrise
GenericName=Schedule and a To-Do List Program
Comment=Sunrise
Icon=/opt/Sunrise/icons/sunrise.svg
Exec=/opt/Sunrise/sunrise.pyw
